$primary-color: #212e33;
$background-color: #212e33;
$cta-color: #e5b168;

$font-family: "Roboto", Tahoma, Geneva, Verdana, sans-serif;

$default-font-size: 12px;
$default-title-font-size: 14px;

$primary-text-color: black;
$secondary-text-color: white;
$tertiary-text-color: #a0a0a0;
$info-color: #0f53a5;
